<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!-- PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1.} - %msg%n"/-->
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="com.samsungsds.analyst.code" level="info" additivity="false">
  		<AppenderRef ref="Console"/>
  	</Logger>
  	<Logger name="org.sonar" level="info" additivity="false">
  		<AppenderRef ref="Console"/>
  	</Logger>
  	<Logger name="org.eclipse.jetty" level="error" additivity="false">
  		<AppenderRef ref="Console"/>
  	</Logger>
  	<Logger name="org.apache.http" level="info" additivity="false">
  		<AppenderRef ref="Console"/>
  	</Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>